body{
    max-width: 1200px;
    background-color: aqua;
    margin: 0 auto;
}
nav ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
nav ul li{
    list-style: none;
}
   
nav ul li a{
    text-decoration: none;
    font-size: 3em;
    color: black;
    /* border: 1px solid black; */
    /* border-radius: 1px; */
}
nav li:hover{
    background-color: lightgray;
}
.hero-container{
    margin-top: 30px;
    display:flex;
    font-size: 2em;
    background-color: chocolate;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}
.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 30px;
}
button{
    font-weight: bold;
    color: blue;
    font-size: 1em;
    cursor: pointer;
    
}
